<%- partial('../sidebar') %>

<style type="text/css">
  .pass-portrait-content {
    overflow: hidden;
    padding: 20px 0 0px 23px;
    text-align: left;
  }

  .pass-portrait-crop {
    background: none repeat scroll 0 0 #e2e2e2;
    height: 300px;
    text-align: center;
    width: 400px;
    overflow: hidden;
  }

  .pass-portrait-left {
    float: left;
  }

  .loadingImg {
    height: 32px;
    width: 32px;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    display: block;
    position: relative;
  }
  
  .pass-portrait-right {
    border-left: 1px solid #e5e5e5;
    float: right;
    padding: 0 50px;
    width: 200px;
  }

  .pass-portrain-commonp {
    font-size: 18px;
  }

  .preview-container {
    overflow: hidden;
  }

  .big-preview-container {
    width: 100px;
    height: 100px;
  }

  .small-preview-container {
    width: 55px;
    height: 55px;
  }

  .pass-portrait-previewbig {
    height: 100px;
    width: 100px;
  }

  .pass-portrait-previewsmall {
    height: 55px;
    width: 55px;
  }

  p.pass-portrain-previewp {
    font-size: 12px;
    margin: 6px 0 18px;
  }

  .pass-portrait-save {
    padding-top: 20px;
  }

  #save_image {
    display: inline-block;
    margin-left: 90px;
    margin-right: 10px;
    margin-bottom: 26px;
  }

  .webuploader-container {
    position: relative;
    display: inline-block;
  }

  #select_image .webuploader-pick {
    padding: 3px 20px;
  }

  .jcrop-holder {
    left: 50%;
    top: 50%;
  }
  .jcrop-preview {
  }
</style>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>设置</li>
      </ul>
    </div>
    <div class='inner'>
      <% if(typeof(error) !== 'undefined' && error){ %>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong><%= error %></strong>
      </div>
      <% } %>
      <% if (typeof(success) !== 'undefined' && success) { %>
      <div class="alert alert-success">
        <strong><%= success %></strong>
      </div>
      <% } %>
      <form id='setting_form' class='form-horizontal' action='/setting' method='post'>
        <div class='control-group'>
          <label class='control-label' for='name'>用户名</label>

          <div class='controls'>
            <input class='input-xlarge readonly' id='name' name='name' size='30' type='text' readonly='true'
                   value="<%= loginname %>"/>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='email'>电子邮件</label>

          <div class='controls'>
            <input class='input-xlarge readonly' id='email' name='email' size='30' type='text'
                   readonly='true' value="<%= email %>"/>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='url'>个人网站</label>

          <div class='controls'>
            <input class='input-xlarge' id='url' name='url' size='30' type='text' value="<%= typeof(url) !== 'undefined' ? url : '' %>"/>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='location'>所在地点</label>

          <div class='controls'>
            <input class='input-xlarge' id='location' name='location' size='30' type='text'
                   value="<%= typeof(location) !== 'undefined' ? location : '' %>"/>
          </div>
        </div>

        <div class='control-group'>
          <label class='control-label' for='weibo'>微博</label>

          <div class='controls'>
            <input class='input-xlarge' id='weibo' name='weibo' size='30' type='text' value="<%= typeof(weibo) !== 'undefined' ? weibo : '' %>"
                   placeholder="e.g. http://weibo.com/cnodejs"/>
          </div>
        </div>
        <div class='control-group'>
        </div>
        <div class='control-group'>
          <label class='control-label' for='signature'>个性签名</label>

          <div class='controls'>
            <textarea class='input-xlarge' id='signature' name='signature' size='30'><%= typeof(signature) !== 'undefined' ? signature : "" %></textarea>
          </div>
        </div>
        <input type='hidden' id='action' name='action' value='change_setting'/>
        <input type='hidden' name='_csrf' value='<%= csrf %>'/>

        <div class='form-actions'>
          <input type='submit' class='span-primary submit_btn' data-loading-text="保存中.." value='保存设置'/>
        </div>
      </form>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>更改密码</span>
    </div>
    <div class='inner'>
      <form id='change_pass_form' class='form-horizontal' action='/setting' method='post'>
        <div class='control-group'>
          <label class='control-label' for='old_pass'>当前密码</label>

          <div class='controls'>
            <input class='input-xlarge' type='password' id='old_pass' name='old_pass' size='30'/>
          </div>
        </div>
        <div class='control-group'>
          <label class='control-label' for='new_pass'>新密码</label>

          <div class='controls'>
            <input class='input-xlarge' type='password' id='new_pass' name='new_pass' size='30'/>
          </div>
        </div>
        <input type='hidden' id='action' name='action' value='change_password'/>
        <input type='hidden' name='_csrf' value='<%= csrf %>'/>

        <div class='form-actions'>
          <input type='submit' class='span-primary submit_btn' data-loading-text="更改中.." value='更改密码'/>
        </div>
      </form>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>更改头像</span>
    </div>
    <div class='inner'>
      <div class='pass-portrait-content'>
        <div class="pass-portrait-left">
          <div class='pass-portrait-crop'>
            <span class="" id="loadingSpan">
	          <img src="<%- staticFile('/public/images/loadingPortrait.gif') %>" class="loadingImg">
            </span>
            <img id='portrait-image' class="portrait-image" src="<%= avatar_url %>">
          </div>
          <div class="pass-portrait-save">
            <form id='crop_portrait' class='form-horizontal' action='/crop_portrait' method='post'>
              <input type="hidden" name="coordH" id="coordH" value=""/>
              <input type="hidden" name="coordW" id="coordW" value=""/>
              <input type="hidden" name="coordX" id="coordX" value=""/>
              <input type="hidden" name="coordY" id="coordY" value=""/>
              <input type="hidden" name="picUrl" id="picUrl" value="<%= avatar_url %>"/>
              <input type='hidden' name='_csrf' value='<%= csrf %>'/>
              <input id='save_image' type="submit" class="span-primary submit_btn" value='保存照片' data-loading-text="头像保存中.."/>
              <div id="select_image" data-name='upload_file'>选择照片</div>
            </form>
          </div>
        </div>
        <div class="pass-portrait-right">
          <p class="pass-portrain-commonp">头像预览</p>
          <div class="preview-container big-preview-container" id="big-preview-container">
            <img class="jcrop-preview pass-portrait-previewbig" src="<%= avatar_url %>" alt="Preview" />
          </div>
          <p class="pass-portrain-commonp pass-portrain-previewp">
            <span>大头像100*100</span>
          </p>
          <div class="preview-container small-preview-container" id="small-preview-container">
            <img class="jcrop-preview pass-portrait-previewsmall" src="<%= avatar_url %>" alt="Preview" />
          </div>
          <p class="pass-portrain-commonp pass-portrain-previewp">
            <span>大头像55*55</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Access Token</span>
    </div>
    <div class='inner'>
      <div>
        <span>字符串：</span>
        <%- accessToken %>
      </div>
      <div>
        <span>二维码：</span>
        <span id="access-token-qrcode"></span>
      </div>
    </div>
  </div>
</div>

<%- Loader('/public/stylesheets/setting.min.css')
.css('/public/libs/Jcrop/css/jquery.Jcrop.css')
.done(assets, config.site_static_host, config.mini_assets)
%>

<%- Loader('/public/setting.min.js')
.js('/public/libs/webuploader/webuploader.withoutimage.js')
.js('/public/libs/Jcrop/js/jquery.Jcrop.js')
.done(assets, config.site_static_host, config.mini_assets)
%>



<script type="text/javascript">
  // qrcode generate
  var accessToken = "<%- accessToken %>";
  new QRCode(document.getElementById("access-token-qrcode"), {
    text: accessToken,
    width: 200,
    height: 200
  });
  // END qrcode generate

  $(function () {
    var $loadingSpan = $("#loadingSpan");
    $loadingSpan.hide();

    var jcrop_api;
    var boundx;
    var boundy;

    var $pcrop = $(".pass-portrait-crop");
    var pcrop_w = $pcrop.width();
    var pcrop_h = $pcrop.height();
    var $jcrop_image = $("#portrait-image");
    var $bpcnt = $("#big-preview-container");
    var $bpimg = $('#big-preview-container img');
    var $spcnt = $("#small-preview-container");
    var $spimg = $("#small-preview-container img");
    var bxsize = $bpcnt.width();
    var bysize = $bpcnt.height();
    var sxsize = $spcnt.width();
    var sysize = $spcnt.height();

    var $picUrl = $("#picUrl");
    var $coordH = $("#coordH");
    var $coordW = $("#coordW");
    var $coordX = $("#coordX");
    var $coordY = $("#coordY");

    var createJcropImage = function() {
      console.log(pcrop_w + ", " + pcrop_h);
      $jcrop_image.Jcrop({
        bgOpacity: 0.6, //背景透明度
        aspectRatio: 1, //长宽比, 1为正方形
        boxWidth: pcrop_w, //画布宽
        boxHeight: pcrop_h, //画布高
        onChange: updatePreview,
        onSelect: updatePreview
      }, function () {
        jcrop_api = this;
        initJcropImage();
      });
    };

    function initJcropImage() {
      var bounds = jcrop_api.getBounds();
      boundx = bounds[0];
      boundy = bounds[1];

      var widget_size = jcrop_api.getWidgetSize();
      var widgetx = widget_size[0];
      var widgety = widget_size[1];

      jcrop_api.ui.holder.css({
        width: widgetx + 'px',
        height: widgety + 'px',
        marginLeft: '-' + Math.round(widgetx / 2) + 'px',
        marginTop: '-' + Math.round(widgety / 2) + 'px'
      });
      var scale = jcrop_api.getScaleFactor();
      jcrop_api.setSelect([0, 0, 48 * scale[0], 48 * scale[1]]);
    }

    function updatePreview(c) {
      if (parseInt(c.w, 10) > 0) {
        var brx = bxsize / c.w;
        var bry = bysize / c.h;

        $bpimg.css({
          width: Math.round(brx * boundx) + 'px',
          height: Math.round(bry * boundy) + 'px',
          marginLeft: '-' + Math.round(brx * c.x) + 'px',
          marginTop: '-' + Math.round(bry * c.y) + 'px'
        });

        var srx = sxsize / c.w;
        var sry = sysize / c.h;
        $spimg.css({
          width: Math.round(srx * boundx) + 'px',
          height: Math.round(sry * boundy) + 'px',
          marginLeft: '-' + Math.round(srx * c.x) + 'px',
          marginTop: '-' + Math.round(sry * c.y) + 'px'
        });

        var coord = jcrop_api.tellSelect();
        $coordH.val(Math.round(coord.h));
        $coordW.val(Math.round(coord.w));
        $coordX.val(Math.round(coord.x));
        $coordY.val(Math.round(coord.y));
      }
    }
    createJcropImage();

    var _csrf = $('[name=_csrf]').val();

    var uploader = WebUploader.create({
      swf: '/public/libs/webuploader/Uploader.swf',
      server: '/upload?_csrf=' + _csrf,
      pick: '#select_image',
      auto: true,
      fileSingleSizeLimit: 2 * 1024 * 1024,
      //sendAsBinary: true,
      // 只允许选择图片文件。
      accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/*'
      }
    });

    uploader.on('fileQueued', function(file){
      jcrop_api.destroy();
      $jcrop_image.hide();
      $loadingSpan.show();
    });

    uploader.on('uploadProgress', function(file, percentage){
    });

    uploader.on('uploadSuccess', function(file, res){
      if(res.success){
        $picUrl.val(res.url);
        $bpimg.attr("src", res.url);
        $spimg.attr("src", res.url);
        $jcrop_image.attr("src", "");
        createJcropImage();
        jcrop_api.setImage(res.url, function() {
          initJcropImage();
        });
      }
      else{
        alert("上传图片出错");
      }
    });

    uploader.on('uploadComplete', function(file){
      uploader.removeFile(file);
      $loadingSpan.hide();
    });

    uploader.on('error', function(type){
      $loadingSpan.hide();
      switch(type){
        case 'Q_EXCEED_SIZE_LIMIT':
        case 'F_EXCEED_SIZE':
          alert("文件太大了, 不能超过2M");
          break;
        case 'Q_TYPE_DENIED':
          alert("只能上传图片");
          break;
        default:
          alert("发生未知错误");
      }
    });

    uploader.on('uploadError', function(){
      alert("服务器走神了，上传失败");
    });
  });

</script>
