<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
秦晋之巅社区，我的社区。

基于http://cnodejs.org/源码改造。

秦晋之巅源码地址：https://github.com/nqdy666/qjzd-club.git

### 移动客户端

待推出
### 作者
微信公众号：秦晋之巅

新浪微博：念念不忘秦
*/
        })) %>
      </div>
    </div>
  </div>
</div>
